.App {
  text-align: center;
  height: 700vh;
}

.nav{
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

.a{
  color:white;
  font-size: 25px;
}

.light{
  background-color: gray;
  color: black;
}

.dark{
  background-color: black;
  color: white;
}

